	#addboardform > div {
			margin-bottom: 8px;
			font-weight:lighter;
			font-family: 'Jua', sans-serif;
			display:table-caption;
		}
		#writer{
			display: inherit;
		}
		
		#board-Title{
			
		}
		#board_Context{
			
		}
		#board_img{
			display: inline-grid;
		}
		
		.inteMain >label{
			margin-bottom: 5px;
		}
		.inteMain >label > p{
			font-weight: bold;
		}
		
		#preview{
			width:250px; 
			height:250px;
		}
		#inteboard_Image{
			margin-bottom: 7px;
		}