		#updatecontent > div{
			margin-bottom: 20px;
			font-weight:lighter;
			font-family: 'Jua', sans-serif;
			/*display:table-caption;*/
		}
		#writer1{
		display: table-caption;
		}
		#update_title_form{
			display:table-caption;
		}
		#updatecontent > div{
			margin:3px;
		}
		#update_content{
			display:grid;
		}
		#file_add{
			display: table-caption;
		}
		#file_add2{
			display: grid;
		}
		#update_btn{
			margin-left: 3px;
			margin-top: 10px;
			display:revert;
		}
		#submit_btn,#cancel_btn{
			cursor: pointer;
		}
		.inteMain{
			display: inline-grid;
		}
		#preview{
			width:250px; 
			height:250px;
		}
		.inteMain >label{
			margin-bottom: 5px;
		}
		.inteMain >label > p{
			font-weight: bold;
		}
		.cancel{
			text-decoration: none;
		}
		#inte_Text{
			resize:none;
		}
		