	#readForm{
		font-weight:lighter;
		font-family: 'Jua', sans-serif;
	}
	#container{
		margin-top: 30px;
	}
	#viewboardform {
		display: table-caption;
	}
	#viewboardform > div {
		margin-bottom: 8px;
	}

	#content{
		display: grid;
	}
	#inputNumber{
		width:40px; 
		text-align: center; 
		border: 0.5px;
	}
	#Number{
		display: grid;
	}
	#writerName{
		display: inline-grid;
	}
	#readbtn{
		display: grid;
	}
	.mod_btn{
		text-decoration: none;
		color: black;	
	}
	#delete{
		cursor: pointer;
	}
	#backList{
		cursor: pointer;
	}
	#updatebtn{
		cursor: pointer;
	}
	#viewCount{
		width: 35px;
		text-align: center;
		margin-bottom: 8px;
	}