 .cart {
        }

        .cart>* {
            margin-top: 30px;
        }

        .cart>h3 {
            font-weight: bold;
            font-size: 40px;
        }

        #carttable {
            width: 1100px;
        }

        #carttable td {
            width: 250px;
            height: 80px;
            padding: 20px;

        }

        #carttable tr>th {
            font-weight: bold;
            font-size: 20px;
            width: 30px;
            padding: 20px;
        }

        #carttable tr {
            margin-left: 20px;

        }

        .cartfoot,
        .cartbuy {
            display: flex;
            justify-content: center;
        }

        .cartbuy button {
            width: 150px;
            height: 40px;
        }
        #carttable thead tr{
			background: gray;
		}
		#totalpriceplus{
			font-weight: bold;
		}
		.cart{
			min-height:540px;
		}