		* {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
		

        .first>h1 {
            font-weight: bold;
            font-size: 35px;
            margin: 20px 0;
        }



        .dlImg {
            display: flex;
            margin: 0 0 0 20px;
            flex-wrap: wrap;
            height:483px;
            border: 0.5px solid #ccc;
            margin-right: 3px;
        }
        .dlMain >img{
			height:483px;
		}



        .middle {
            display: flex;
            justify-content: space-between;
            width: 1130px;
        }

        .dlThumbnail1 {
            display: flex;
            /* position: relative; */
            margin: 10px 0 0 5px;
        }

        .dlThumbnail2 {
            width: 100px;
            margin-right: 10px;
        }

        .dlComments {
            border: 2px solid black;
            text-align: center;
        }


        .dlComments>div h3 {
            font-weight: bold;
        }

        .dlComments1 {
            margin-top: 20px;
        }

        .dlComments1 p {
			margin:10px 0;
			font-weight: bold;
        }

        #dlComments2 {
            display: flex;
            justify-content: space-around;
        }

        #dlComments2 p {
            width: 170px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        #dlComments3 {
            justify-content: space-around;
            flex-wrap: wrap;
            margin-left: 8px;
        }

        #dlComments3 p {
			margin:10px 0;
			font-weight: bold;
        }
		        #call{
			margin-top: 30px;
		}
       

        #dlComments4 {
            display: flex;
            margin-top: 40px;
        }

        #dlcontents {
            margin-top: 100px;
            margin-left: 20px;
            width: 650px;
        }

        #reportbtn {
            margin-top: 100px;
        }