/** {
            margin: 0px;
            padding: 0px;

        }*/

        .first>h1 {
            font-weight: bold;
            font-size: 22px;
        }



        .dlImg {
            display: flex;
            justify-content: space-around;
            margin: 10px 30px 0 20px;
            flex-direction: column;
        }

        .dlMain {
            margin-bottom: 0px;
        }

        /* 나중에 width길이 조정 필요할 수 있음 */
        .middle {
            display: flex;
            /*justify-content: space-between;*/
            width: 1130px;

        }

        .dealingcon {
            
        }
        .dealingcon >h3{
            font-weight: bold;
            margin-bottom: 10px;
        }

        .dlThumbnail1 {
            display: flex;
            position: relative;
            margin: 10px 0 0 5px;
            right: 5px;
            overflow-x: auto;
            white-space: nowarp;
        }

        .dlThumbnail2 {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }

        .cg {
            margin: 50px 0 0 0;
        }

        

        .bds02 {
            margin: 50px 0 0 0px;
            text-align: center;
            width: 1000px;
            display: inline-block;
        }
        .cg >h3{
            font-weight: bold;
            font-size: 19px;
        }
        .cg > h5{
			margin-bottom: 10px;
			font-weight: bold;
        }
        .dealingformcontent{
			width: 850px;
			margin-left: 20px;
		}
		.dealingformcontent > h3{
			margin-bottom: 10px;
			font-weight: bold;
		}
