* {
            box-sizing: border-box;
            user-select: none;
            
        }

        /* maintab */
        .maintab {
            margin-top: 10px;
            margin-bottom: 20px;
            display: flex;
            background: rgb(238, 232, 232);
            
        }

          .maintab a{
            width: 100%;
            text-decoration: none;
            color: black;
}

        .maintab a li {
            padding: 20px 20px;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            text-align: center;
        }
		.maintab a:first-child{
			border-right: solid 0.5px;
			
		}


        .maintab .a:hover {
            background-color: rgb(146, 142, 142);
        }

        .maintab .b:hover {
            background-color: rgb(161, 117, 20);
        }

        .hide {
            display: none;
        }

        .red {
            background-color: rgb(146, 142, 142);
        }

        .blue {
            background-color: rgb(161, 117, 20);
        }


        /* header */
        .header {
            margin: 20px 0 0 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height:52.5px;
            font-weight:lighter;
			font-family: 'Jua', sans-serif;

        }

        header .Main_Logo {
            width: 220px;
            height: 50px;
        }

        .headerleft {
            display: flex;
        }
        .ppcursor {
	cursor: pointer;
	
}
    	.ppcursor li h6 {
	text-decoration: underline;
	 text-underline-position : under;
	  text-decoration-thickness: 2px;
}
.ppcursor li h6:hover{
	color:gray;
}
		

        .search form {
            display: flex;
            margin-top: 2.5%;
            width: 450px;
            /*margin-left: 130px;*/
        }

        .search form input {
            width: 400px;
            height: 40px;
        }

        .headerul ul {
            margin-top: 2%;
            font-size: 18px;
            margin-left: 100px;
            width: 530px;
            height: 22.5px;
        }

        .headerul ul li {
            display: inline-flex;
            font-weight: bold;
            margin-right: 50px;
        }

        .headerul ul a {
            text-decoration: none;
            color: black;
        }

        /* top버튼 */
        .top {
            text-decoration: none;
            color: black;
            position: fixed;
            bottom: 150px;
            right: 40px;
        }
        
        .headerpp > a{
			display:block;	
		}
	
		.headerpp> * {
			margin-top: 5px;
			
		}
		
       .hidee{
			display:none;
		}
		.pan{
			text-decoration: none;
            color: black;
            position: fixed;
           bottom: 110px;
            right: 33px;
		}
		
		
		
       