	*{
		
		margin: 0 auto;
		font-weight:lighter;
	}
	
	th{
		font-weight: bolder;
		font-size: large;
		padding: 8px 0 9px;
     	border-bottom: solid 1px #d2d2d2;
     	text-align: center;
      	line-height: 18px;
		

	}
	td {
		text-align: center;
		border-bottom: 1px solid rgb(187, 187, 171);
		
	}
	
   	#write_Btn{
		cursor:pointer;
		width:100px;
		height:30px;

	}
	
	#write_Btn:hover{
		color: rgb(248, 14, 14);
	}
	#table_id{
		text-align: center;
		border:"0";
		width:1130px;
		
	}
	#table_id thead tr {
		background-color: hotpink;
		text-align: center;
		height:20px;
	}
	#table_id thead th{
		border:1px solid gray;
	}
    
	#table_id tbody tr:hover{
		background-color: gainsboro;

	}
	#listForm{
		width: 1130px;
		height: auto;
		
	}
	#table_id_wrapper{
		min-height: 520px;
		width:1130px;
		
	}
	
	#table_id td > a{
		text-decoration: none;
	}
	#table_id_filter{
		width:240px;
	}
	#table_id_length{
		width:160px;
	}
	#table_id_paginate{
		width:440px;
		margin-right: 339px;
		display: flex;
		text-decoration: underline;
	}
	