 .mypage {
           margin-top: 40px;

        }
        .mypage p{
	margin:5px 0;
}

        #myroom {
            width: 1130px;
            height: 320px;
            display: flex;
            margin: 5px;
            background:gainsboro;
            /* margin: 0px auto; */
        }

        #likeroom {
            width: 1130px;
            height: 220px;
            display: inline-flex;
            background:gainsboro;
            /* margin: 0px auto; */

        }

        .report {
            align-content: center;
            margin: 0px;
            /* margin: 0px auto; */
        }

        .table {
            width: 1130px;
            border-top: 1px solid #444444;
            border-collapse: collapse;
            /* margin: 0px auto; */
        }

        td,
        th {
            border-bottom: 1px solid #444444;
            border-left: 1px solid #444444;
            padding: 10px;
            text-align: center;


        }
        .table tr {
			height:22px
}

        td:first-child,
        th:first-child {
            border-left: none;
            text-align: center;

        }

        th {
            font-weight: 700;
            background-color: gainsboro;
        }