		.mypagecontrol{
			display: flex; 
			flex-direction: column; 
			margin-left: 140px;
		}
 		.mypage {
           	margin-top: 40px;

        }
        .mypage p{
			margin:5px 0;
		}
		#userinfo_mod{
			width:960px;
		}
		#change{
			font-weight:700;
			margin-top:10px;
			width: 100px; 
			height:30px;
			}
			
/*------------------------------내가등록한방------------------------------*/		
	
        #myroom {
            width: 1130px;
            height: 320px;
            display: flex;
            margin: 5px;
            background:gainsboro;
            overflow-x: auto;
        }
		#mydl {
            border-right:0.5px  solid rgb(102, 102, 102);
            width: 300px;
            height: 320px;
            padding: 10px;
            }
        .modelete{
            display: inline-flex;
            margin-top: 33px;
            }
            
/*------------------------------관심목록------------------------------*/	

        .myLike {
            overflow-x: auto;
            overflow-y: hidden;
            background: gainsboro;
            }
        .jjimContents {
                border: 1px solid #ccc;
                width: 300px;
                height: 200px;
                padding: 10px;
            }
            
/*------------------------------허위 매물 신고------------------------------*/	

        .report {
            align-content: center;
            margin: 0px;
            width: 1000px;
            /* margin: 0px auto; */
        }

        .table {
            width: 1130px;
            border-top: 1px solid #444444;
            border-collapse: collapse;
            /* margin: 0px auto; */
        }

        td,th {
            border-bottom: 1px solid #444444;
            border-left: 1px solid #444444;
            padding: 10px;
            text-align: center;

        }
        .table tr {
			height:22px
		}

        td:first-child,
        th:first-child {
            border-left: none;
            text-align: center;

        }

        th {
            font-weight: 700;
            background-color: gainsboro;
        }
        
/*------------------------------나의 게시글------------------------------*/	
     
		#table_id{
			text-align: center;
			border:"0";
			width:1130px;
			margin-top: 20px;
			
		}
		#table_id tr{
			line-height: 30px;
			height:30px;
		}
		#table_id tbody tr:hover{
			background-color: rgb(249, 245, 191);
		}
		#table_id td > a{
			text-decoration: none;
		}
		#quit{
			width:150px;
			height:30px;
			font-weight: bolder;
			color:red;
			margin-top: 40px;
		}
		.mypage h2{
			font-weight: 900; 
			font-size: 2em; 
			margin-top: 80px; 
			margin-bottom: 40px;
			
		}
		#btn {
            margin-left: 10px;
            }
        
            #infoAddress3Check{
			margin-top: 3px;
			}
		
			
	