		* {
            box-sizing: border-box;
        }
        .order {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;   
        }
        h3 {
            font-weight: bold;
            font-size: 40px;
        }
        .ordercontent {
            line-height: 24px;
            margin-top: 30px;
        }
        .ordercontent div{
            margin: 30px 0;
        }
        h6{
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .orderpayul {
            display: flex;
            justify-content: space-around;
        }
        .orderconfirm{
            margin-top: 100px;
            width: 200px;
            height: 50px;
        }
        .hide{
            display: none;
        }