	  * {
            margin: 0px;
            padding: 0px;
        }

        .dlImg {
            display: flex;
            margin: 0 0 0 20px;
            flex-wrap: wrap;
        }

        .dlMain {
            margin-bottom: 0px;
        }

        .middle {
            display: flex;
            justify-content: space-between;
            width: 1130px;
        }

        .dlThumbnail1 {
            display: flex;
            position: relative;
            margin: 10px 0 0 5px;
        }

        .dlThumbnail2 {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }

        .dlComments {
            border: 2px solid black;
            text-align: center;
			height:420.25px;
        }

        .dlComments h3{
			font-size: 22px;
			font-weight:bold;
			margin: 10px 0;
		}

        .dlComments1 {
            width: 400px;
            margin-top: 20px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .dlComments1 p {
            border: 1px solid black;
            width: 350px;
            height:25px;
            line-height:25px ;
            
        }

        #dlComments2 {
            display: flex;
            justify-content: space-around;
        }
        
        #dlComments2 h3{
			text-align: center;
		}
        
        
         #dlComments2 h3{
			text-align: center;
		}

        #dlComments2 p {
            border: 1px solid black;
            width: 170px;
            height:25px;
            line-height:25px ;
        }

        #dlComments3 {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        #dlComments3 p {
            border: 1px solid black;
            width: 170px;
        }

        #dlComments4 {
            display: flex;
            margin-top:50px;
            margin-left: 80px;
        }


        #dlcontents {
            margin-top: 100px;
            width: 650px;
        }

        #reportbtn {
            margin-top: 400px;
        }


        .tab4 li {
            list-style: none;
        }

        table {
            empty-cells: show;
            border-collapse: collapse;
            table-layout: fixed
        }

/* --------------상품상세정보, 고객상품평, 상품Q&A, 배송/반품/교환 --------------*/
        ul.detail_tab:after {
            content: "";
            display: block;
            clear: both;
        }

        ul.detail_tab {
            *zoom: 1;
            margin: 0 0 20px 0;
            width: 1130px;
            display: flex;
            margin-top: 10px;
        }

        ul.detail_tab li {
            background: url('http://image.lotteimall.com/imall_ec/site/images/detail/tab_bg.gif') no-repeat right top;
        }

        ul.detail_tab li.on {
            border-right: 1px solid #cc1d22;
            background: url('http://image.lotteimall.com/imall_ec/site/images/detail/tab_bg.gif') no-repeat left bottom;
        }

        ul.detail_tab li.fst {
            background-position: left top;
        }

        ul.detail_tab li a {
            display: block;
            height: 30px;
            padding: 8px 0 0 0;
            text-align: center;
        }

        ul.detail_tab li a span {
            padding-left: 3px;
        }

        ul.tab3 li {
            width: 300px;
        }

        ul.tab2 li {
            width: 300px;
        }

        ul.tab4 li {
            width: 300px;
        }

        div.dinfo_1 {
            margin: 0 0 30px 0;
        }

        div.dinfo_2 {
            margin: 0 0 30px 0;
        }

        div.dinfo_3 {
            margin: 0 0 30px 0;
        }

        div.dinfo_4 {
            margin: 0 0 30px 0;
        }

/* ------------------------------select option크기------------------------------ */
        .select {
            margin: 0;
            padding: 0;
            width: 170px;
            height: 26.23px;
        }
   		.img-fluid{
			height:400px;
		}

        .ot_1 option {
            width: 170px;
          
        }
        #ot_1 ,#ot_2 {
	  text-align: center;
		}