		.pro_side {
            background-image: url(../img/sea.jpg);
            border-radius: 2%;
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        .pro_side_form {
            border-radius: 2%;
            width: 280px;
            height: 500px;
            position: relative;
            background: rgb(129, 127, 126);
            overflow: hidden;
        }

        .pro_side_botton {
            width: 220px;
            margin: 25px 30px;
            position: relative;
            box-shadow: 0 0 600px 9px #fcae8f;
            border-radius: 30px;
        }

        .pro_togglebtn {
            padding: 10px 30px;
            cursor: pointer;
            background: transparent;
            border: 0;
            outline: none;
            position: relative;
        }

        #pro_side_btn {
            text-align: center;
            top: 0;
            left: 0;
            position: absolute;
            width: 110px;
            height: 100%;
            background: rgb(238, 232, 232);
            /*background: linear-gradient(to right, #ff105f, #ffad06);*/
            border-radius: 10px;
            transition: .5s;
        }

        .social-icons {
            margin: 30px auto;
            text-align: center;
        }

        .social-icons img {
            width: 30px;
            cursor: pointer;
        }

        .input-group {
            position: absolute;
            width: 280px;
            transition: .5s;
        }

        .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border: none;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }

        .submit {
            /* width: 50%; */
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin: 10px 35px;
            background: rgb(238, 232, 232);
            /*background: linear-gradient(to right, #ff105f, #ffad06);*/
            border: 0;
            outline: none;
            border-radius: 10px;
        }

        .checkbox {
            margin: 30px 10px 30px 0;
        }

        

        #pro_dealing {
            left: 50px;
        }

        .pro_side ul {
            padding: 0;
        }

        .pro_side ul li {
            list-style-type: none;
        }

        #pro_household {
            left: 450px;
        }