			    .rating .rate_radio + label {
			    position: relative;
			    display: inline-block;
			    margin-left: -4px;
			    z-index: 10;
			    width: 60px;
			    height: 60px;
			    background-image: url('../image/starrate.png');
			    background-repeat: no-repeat;
			    background-size: 60px 60px;
			    cursor: pointer;
			    background-color: #f0f0f0;
			}
			.rating .rate_radio:checked + label {
			    background-color: #ff8;
			}
			.wrap{
			   width: 1130px;
			    background-color: #fff;
			    height: 100%;
			    padding: 20px;
			    box-sizing: border-box;
			
			}
			.reviewform textarea{
			    width: 1130px;
			    padding: 10px;
			    box-sizing: border-box;
			    resize: none;
			}
			.rating .rate_radio {
			    position: relative;
			    display: inline-block;
			    z-index: 20;
			    opacity: 0.001;
			    width: 60px;
			    height: 60px;
			    background-color: #fff;
			    cursor: pointer;
			    vertical-align: top;
			    display: none;
			}
			.rating .rate_radio + label {
			    position: relative;
			    display: inline-block;
			    margin-left: -4px;
			    z-index: 10;
			    width: 60px;
			    height: 60px;
			    background-image: url('../image/starrate.png');
			    background-repeat: no-repeat;
			    background-size: 60px 60px;
			    cursor: pointer;
			    background-color: #f0f0f0;
			}
			.rating .rate_radio:checked + label {
			    background-color: #ff8;
			}
			
			
			.warning_msg {
			    display: none;
			    position: relative;
			    text-align: center;
			    background: #ffffff;
			    line-height: 26px;
			    width: 100%;
			    color: red;
			    padding: 10px;
			    box-sizing: border-box;
			    border: 1px solid #e0e0e0;
			}
			.displaystyle1{
			    width: 1130px;
			}
			.displayflex{display: flex; width: 1130px;}
			
			#df_1 {
				margin-left: 120px;
			}
			
			.reviewTitle h4 {
				margin-top: 0;
			}
			
			#title {
				width:500px;
				height: 30px;
			}
			
			.review_textarea {
				width:500px;
				height: 250px;
			}
			
			#save {
				text-align: center; 
				width: 300px; 
				height: 50px; 
				background-color: brown;color: #fff; 
				margin: 100px 400px;
			}
