.userform  h1 {
	font-weight: bold;
	font-size: 27px;
}
.userform{
	margin-top:15px ;
}

.form1{
	margin-left: 5px;
	width : 550px;
}
.form1 > h3{
	line-height: 1.8;
	font-weight: bold;
}
.userformbtn{
	display: table-caption;
	width:570px;
}
.userformbtn >input{
	margin-right: 10px;
}
