			.RegTitle {
				font-weight: bold;
				font-size: 27px;
			}
			.userform{
				margin-top:15px ;
			}
			
			#user_Id {
            	height: 32px;

       		 }
			
			.form1{
				margin-left: 5px;
				width : 550px;
			}
			.form1 > h3{
				line-height: 1.8;
				font-weight: bold;
			}
			
			.form1 input{
            	height: 32px;
        	}
        	
			.userformbtn{
				display: table-caption;
				width:570px;
				height: 55px;
			}
			
			.userformbtn >input{
				margin-right: 10px;
			}
			
			 #idcheck {
	            display: inline;
	            height: 32px;
	            margin-left: 10px;
	            line-height: 32px;
        	}
        	.error {
	            color: red;
	            display: block;
        	}
        	
        	#user_Id-error, #user_Pwd-error,#user_Pwd2-error ,#user_Email-error{
           		margin-top: 5px;
        	}

	        .id {
	            display: inline-flex;
	        }
